<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}" />
    <title>TaskManagerApp</title>
  </head>
  <body>
    <h1>Task Page</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Added at 2</th>
            <th>Actions</th>
        </tr>
        <tr>
            <th>Task 102</th>
            <th>Date of your birthday</th>
            <th>Fart and suck</th>
        </tr>
    </table>
    <br>
    <form action="">
        <input type="text" name="content" id="content" />
        <input type="submit" name="Add a task" id="btn_add" value="Send" />
    </form>
  </body> 
</html>
